%h1 Edit Team

!= partial("errors.html.haml", { locals: { ctx: ctx } })

%form{ method: 'POST', action: '/teams/' + ctx.team.toParam() }
  %input{ type: 'hidden', name: '_method', value: 'put' }
  %h2 Application
  %p
    Feel free to fill out this information any time before coding ends. Use it
    to help judges get an idea of what you&rsquo;ve accomplished.
  %h3
    %label{ for: 'application' } Name
  .note Name your creation.
  %input{ type: 'text', name: 'application', id: 'application', value: ctx.team.application }
  %h3
    %label{ for: 'description' } Description
  .note
    What&rsquo;s your application do?
    != ' (<a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> OK)'
  %textarea{ name: 'description', id: 'description' }= ctx.team.description
  %h3
    %label{ for: 'colophon' } Colophon
  .note
    What libraries, icons, web service APIs, tools did you use?
    != ' (<a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> OK)'
  %textarea{ name: 'colophon', id: 'colophon'}= ctx.team.colophon
  %h3
    %label{ for: 'link' } Screencast / Info URL
  .note Sometimes people like watching videos of things.
  %input{ type: 'text', name: 'link', id: 'link', value: ctx.team.link }
  - if (ctx.isAdmin)
    %p
      %input{ type: 'checkbox', name: 'validDeploy', id: 'validDeploy', checked: ctx.team.validDeploy ? 'checked' : '', value: 1 }
      %label{ for: 'validDeploy' } Valid deploy?
  %p
    %input.button{ type: 'submit', value: 'Save' }
  %h2 Team
  != partial('teams/form.html.haml', { locals: { ctx: ctx } })
  %p
    %input.button{ type: 'submit', value: 'Save' }
