%h1 Teams

- if ('yourTeams' in ctx)
  %h2
    Your Team
  - each team in ctx.yourTeams
    %ul.teams
      %li
        %a{ href: '/teams/' + team.toParam() }= team.name
        %ul.members
          - each member in team.members
            - if (member.name !== '')
              %li
                - if (member.link)
                  %a{ href: member.link }= member.name
                - if (!member.link)
                  = ' '
                  = member.name
          - if (team.invited.length > 0)
            %li.invited
              = pluralize(team.invited.length, 'outstanding invite')

%h2
  Verified Teams
  = ' (' + ctx.teams.length + ')'
%ul.teams
  - each team in ctx.teams
    %li
      %a{ href: '/teams/' + team.toParam() }= team.name
      %ul.members
        - each member in team.members
          - if (member.name !== '')
            %li
              - if (member.link)
                %a{ href: member.link }= member.name
              - if (!member.link)
                = ' '
                = member.name
        - if (team.invited.length > 0)
          %li.invited
            = pluralize(team.invited.length, 'outstanding invite')
.clear

- if (false && 'unverifiedTeams' in ctx)
  %h2
    Pending Teams
    = ' (' + ctx.unverifiedTeams.length + ')'
  %ul
    - each team in ctx.unverifiedTeams
      %li
        %a{ href: '/teams/' + team.toParam() }= team.name
        %span.invited
          = pluralize(team.invited.length, ' oustanding invite')
