%h1= this.team.name

- if (!this.editAllowed)
  %p.note
    Your looking at the
    %a{ href: '/' } Node.js Knockout
    team profile for
    != ' <a href="/teams/' + this.team.id() + '">' + this.team.name + '</a>.'
  %p
    %a{ href: '/' } Find out more.

- if (this.editAllowed)
  - if (this.currentPerson)
    %p.note
      This is it for now!  We&rsquo;ll likely ask for more
      details soon.
    
    %p.note
      In the meantime,
      %a.addthis_button{ href: 'http://www.addthis.com/bookmark.php' } spread the word!
      More competitors means more people for you to dominate!
  
  - if (!this.currentPerson)
    %p.note
      Nice work! Your team,
      != ' <a href="/teams/' + this.team.id() + '">' + this.team.name + '</a>, '
      is officially registered for Node.js Knockout.
    
    %p.note
      %strong
        An invitation email with log-in information has been sent to each team member.
      All team members now need to
      %a{ href: '/login' } sign in and update their profile information.

%h2 Confirmed Team Members
  - if (!this.members.length)
    %p
      No invitations have been accepted yet.
      - if (this.editAllowed)
        %strong Check your email for your invitation.
  
  - if (this.members.length)
    %ul
      - each member in this.members
        %li
          - if (member.link)
            %a{ href: member.link }= member.name
          - if (!member.link)
            = member.name
          - if (this.currentPerson && member.id() === this.currentPerson.id())
            &nbsp;&ndash;
            %a{ href: '/people/' + member.id() + '/edit' } that&rsquo;s you!

- if (this.invites.length)
  %h2 Pending Invitations
  
  - if (!this.editAllowed)
    %p
      = this.invites.length + ' '
      outstanding
      = this.invites.length === 1 ? ' invitation.' : ' invitations.'
  
  - if (this.editAllowed)
    %ul
      - each invite in this.invites
        %li
          %a{ href: 'mailto:' + invite.email }= invite.email
          &nbsp;&ndash;&nbsp;
          %a.resend{ href: '/teams/' + this.team.id() + '/invite/' + invite.id() } Resend

%p
  - if (this.editAllowed)
    %a.button{ href: '/teams/' + this.team.id() + '/edit' } Edit
    %a.delete.button{ href: '/teams/' + this.team.id() + '?_method=DELETE' } Delete