%h1= ctx.team.application
.clear

- if (!ctx.team.url && ctx.canEditTeam(ctx.team))
  .deploy
    %h3 NOT YET DEPLOYED
    %p.note
      You can deploy to either Joyent or Heroku.
      %br
      We will use the server that was most recently deployed to.
    %table
      %tr
        %th Joyent
        %th Heroku
      %tr
        %td
          %ol
            %li
              %a{ href: 'http://no.de/signup' }
                Provision a free SmartMachine
              .coupon
                with coupon code:
                %strong
                  = ' ' + ctx.team.joyentCode
            %li
              %code
                git remote add joyent \\<br/> ssh://node@
                = ctx.team.slug.replace(/^(\d)/, 'ko-$1')
                \.no.de/repo
            %li
              %code git push joyent
        %td
          %ol
            %li
              We&rsquo;ll create a Heroku app for you
              .coupon &nbsp;
            %li
              %code
                git remote add heroku \\<br/> git@heroku.com:
                = ctx.team.slug
                \-nko.git
            %li
              %code git push heroku

- if (ctx.team.description)
  .application
    #screenshot
      %span.note Deploy for a screenshot
      %img{ src: '/images/blank.png' }
    .description
      %h2
        %a{ href: ctx.url }= ctx.url.replace(/^http:\/\//, '')
      %h4= 'by ' + ctx.team.name
      - if (ctx.isAdmin)
        %a.button.important{ href: '#your_vote' } Vote &raquo;
    .clear
    != markdown(ctx.team.description)
    - if (ctx.team.link)
      %a{ href: ctx.team.link } More info &raquo;
- if (!ctx.team.description && ctx.editAllowed)
  .application
    .note
      You don&rsquo;t have a description for your application yet.
      != ' <a href="/teams/' + ctx.team.toParam() + '/edit">Edit it now</a>.'

%h3 Who
%ul#members
  - each member in ctx.members
    %li
      != gravatar(member, 30)
      - if (member.link)
        %a{ href: member.link }= member.name
      - if (!member.link)
        %span= member.name
      - if (ctx.currentPerson && member.id() === ctx.currentPerson.id())
        &ndash;
        %a{ href: '/people/' + member.toParam() + '/edit' } that&rsquo;s you!
  - if (ctx.invites.length && ctx.editAllowed)
    - each invite in ctx.invites
      %li
        != gravatar(invite, 30)
        %a{ href: 'mailto:' + invite.email }= invite.email
        invited
        &nbsp;&ndash;&nbsp;
        %a.resend{ href: '/teams/' + ctx.team.toParam() + '/invite/' + invite.toParam() } reinvite

- if (ctx.invites.length && !ctx.editAllowed)
  %p
    = pluralize(ctx.invites.length, 'outstanding invitation')

- if (ctx.team.colophon)
  %h3 How
  != markdown(ctx.team.colophon)

- if (ctx.editAllowed)
  %a.button{ href: '/teams/' + ctx.team.toParam() + '/edit' } Edit
  - if (ctx.isAdmin)
    %form{ method: 'POST', action: '/teams/' + ctx.team.toParam() }#delete
      %input{ type: 'hidden', name: '_method', value: 'delete' }
      %input.button{ type: 'submit', rel: 'nofollow', value: 'Delete', onclick: "return confirm('Are you sure you want to delete this team?');" }

.clear

- if (ctx.isAdmin)
  %h1 Votes
  - if (ctx.vote.isNew())
    %form#your_vote{ method: 'POST', action: '/teams/' + ctx.team.toParam() + '/votes' }
      != partial("errors.html.haml", { locals: { ctx: ctx } })
      .voter
        %h3 Your Vote
        != partial('votes/voter.html.haml', { locals: { vote: ctx.vote }})
      .vote
        != partial('votes/stars.html.haml', { locals: { vote: ctx.vote }})
        %textarea{ name: 'comment', id: 'comment', placeholder: '2-3 sentence review. Optional.', rows: 4 }= ctx.vote.comment || ''
        - if (!ctx.currentPerson)
          .email_input
            %input.email{ type: 'text', name: 'email', id: 'email', value: ctx.vote.email || '', placeholder: 'email@address.com' }
              &nbsp;or
              %a{ href: '/login?return_to=' + escapeURL('/teams/' + ctx.team.toParam() + '#draft') } Sign in
            .note Required to confirm your vote. We don't spam.
        - if (ctx.currentPerson)
          .note.email_hidden
            Voting as
            = ' ' + ctx.vote.email + ' '
            &mdash;
            %a{ href: '/logout?return_to=' + escapeURL('/teams/' + ctx.team.toParam() + '#draft') } Change
        %input.button{ type: 'submit', value: 'Vote!' }
        .clear
  %ul.votes
    != partial('votes/index.html.jade', { locals: { ctx: ctx } })
    - if (ctx.votes.length == 50)
      .more
        %img{ src: '/images/spinner.gif' }
