%h1.ribbon= this.team.name

- if (!this.editAllowed)
  %p.note
    Your looking at the
    %a{ href: '/' } Node.js Knockout
    team profile for
    != ' <a href="/teams/' + this.team.id() + '">' + this.team.name + '</a>.'
  %p
    %a{ href: '/' } Find out more.

- if (this.editAllowed)
  - if (this.currentPerson)
    != this.partial('teams/attending.html.haml')
  
  - if (!this.currentPerson)
    %p.note
      Nice work! Your team,
      != ' <a href="/teams/' + this.team.id() + '">' + this.team.name + '</a>, '
      is officially registered for Node.js Knockout.
    
    %p.note
      %strong
        An invitation email with log-in information has been sent to each team member.
      All team members now need to
      %a{ href: '/login' } sign in and update their profile information.

%h2 Team Members
  %ul#members
    - each member in this.members
      %li
        - if (member.link)
          %a{ href: member.link }= member.name
        - if (!member.link)
          = member.name
        - if (this.currentPerson && member.id() === this.currentPerson.id())
          &nbsp;&ndash;
          %a{ href: '/people/' + member.id() + '/edit' } that&rsquo;s you!
    - if (this.invites.length && this.editAllowed)
      - each invite in this.invites
        %li
          %a{ href: 'mailto:' + invite.email }= invite.email
          invited
          &nbsp;&ndash;&nbsp;
          %a.resend{ href: '/teams/' + this.team.id() + '/invite/' + invite.id() } reinvite

- if (this.invites.length && !this.editAllowed)
  %p
    = this.invites.length + ' '
    outstanding
    = this.invites.length === 1 ? ' invitation.' : ' invitations.'

- if (this.editAllowed)
  %p
    %a.button{ href: '/teams/' + this.team.id() + '/edit' } Edit
    %a.delete.button{ href: '/teams/' + this.team.id() + '?_method=DELETE' } Delete
