%h1= ctx.team.application || ctx.team.name
.clear

- if (ctx.canEditTeam(ctx.team))
  .deploy{ style: 'display:' + (ctx.team.lastDeployedTo ? 'none' : '') }
    - if (!ctx.team.lastDeployedTo)
      %h3 NOT YET DEPLOYED
    %p.note
      You can deploy to either
      != ' <a href="http://nodeknockout.posterous.com/countdown-to-knockout-post-11-deploying-to-jo">Joyent</a> '
      or
      != ' <a href="http://nodeknockout.posterous.com/countdown-to-knockout-post-8-deploying-to-her">Heroku</a>.'
      %br
      We will use the server from the most recent deploy.
    %table
      %tr
        %td{ colspan: 2 }
          %ol{ start: '0' }
            %li.github
              Get your
              != ' <a href="https://github.com/nko/' + ctx.team.slug + '">GitHub code repository</a>:'
              %code
                git clone git@github.com:nko/
                = ctx.team.slug
                \.git
      %tr
        %th Joyent
        %th Heroku
      %tr
        %td.rightborder
          %ol
            %li
              %a{ href: 'http://no.de/signup' }
                Provision a free SmartMachine
              .coupon
                with coupon code:
                %strong
                  = ' ' + ctx.team.joyentCode
            %li
              %code
                git remote add joyent \\<br/> ssh://node@
                = ctx.team.joyentSlug + '.no.de/repo'
            %li
              %code git push joyent master
        %td
          %ol
            %li
              We&rsquo;ve
              %a{ href: 'http://' + ctx.team.herokuSlug + '.heroku.com' }
                already created a Heroku app
              for you
            %li
              %code
                git remote add heroku \\<br/> git@heroku.com:
                = ctx.team.herokuSlug + '.git'
            %li
              %code git push heroku master

- if (ctx.team.lastDeployedTo || ctx.team.description)
  .application
    - if (ctx.team.lastDeployedTo && ctx.editAllowed)
      .deployed
        .more
          %a{ href: '#' } Deploy instructions
        Deployed to
        %a{ href: ctx.team.url }= ctx.team.url
    .screenshot
      %a{ href: ctx.team.url }
        %img{ src: ctx.team.url ? 'http://pinkyurl.com/i?url=' + encodeURIComponent(ctx.team.url + '/#' + ctx.team.lastDeployedHead) + '&out-format=png&resize=160' : '/images/blank.png' }
      - if (ctx.isJudge)
        %p
          %a.button.important{ href: '#your_vote' } Vote &raquo;
    .description
      %h2
        %a{ href: ctx.team.url }= ctx.team.application
      %h4= 'by ' + ctx.team.name
      .markdown!= markdown(ctx.team.description)
    - if (ctx.team.link)
      %a{ href: ctx.team.link } More info &raquo;
    .clear
- if (!ctx.team.description && ctx.editAllowed)
  .application
    .note
      You don&rsquo;t have a description for your application yet.
      != ' <a href="/teams/' + ctx.team.toParam() + '/edit">Edit it now</a>.'

%h3 Who
%ul#members
  - each member in ctx.members
    %li
      != gravatar(member, 30)
      - if (member.link)
        %a{ href: member.link }= member.name
      - if (!member.link)
        %span= member.name
      - if (ctx.currentPerson && member.id() === ctx.currentPerson.id())
        &ndash;
        %a{ href: '/people/' + member.toParam() + '/edit' } that&rsquo;s you!
  - if (ctx.invites.length && ctx.editAllowed)
    - each invite in ctx.invites
      %li
        != gravatar(invite, 30)
        %a{ href: 'mailto:' + invite.email }= invite.email
        invited
        &nbsp;&ndash;&nbsp;
        %a.resend{ href: '/teams/' + ctx.team.toParam() + '/invite/' + invite.toParam() } reinvite

- if (ctx.invites.length && !ctx.editAllowed)
  %p
    = pluralize(ctx.invites.length, 'outstanding invitation')

- if (ctx.team.colophon)
  %h3 How
  .markdown!= markdown(ctx.team.colophon)

- if (ctx.editAllowed)
  %a.button{ href: '/teams/' + ctx.team.toParam() + '/edit' } Edit
  - if (ctx.isAdmin)
    %form{ method: 'POST', action: '/teams/' + ctx.team.toParam() }#delete
      %input{ type: 'hidden', name: '_method', value: 'delete' }
      %input.button{ type: 'submit', rel: 'nofollow', value: 'Delete', onclick: "return confirm('Are you sure you want to delete this team?');" }

.clear

- if (ctx.isJudge)
  %h1 Votes
  %form#your_vote{ method: (ctx.vote.isNew() ? 'POST' : 'PUT'), action: '/teams/' + ctx.team.toParam() + '/votes' + (ctx.vote.isNew() ? '' : '/' + ctx.vote.id()) }
    != partial("errors.html.haml", { locals: { ctx: ctx } })
    .voter
      %h3 Your Vote
      != partial('votes/voter.html.haml', { locals: { vote: ctx.vote }})
      .warning
        Voting is currently in testing. It is only visible to judges and all
        votes will be cleared at 7pm PST Sunday.
    %div{ 'class': 'vote ' + (ctx.vote.isNew() ? 'edit' : 'show') }
      != partial('votes/stars.html.haml', { locals: { vote: ctx.vote }})
      .show
        %p.comment= ctx.vote.comment || ''
        %a.change{ href: '#' }= 'Change your vote'
      .edit
        %textarea{ name: 'comment', id: 'comment', placeholder: '2-3 sentence review. Optional.', rows: 4 }= ctx.vote.comment || ''
        - if (!ctx.currentPerson)
          .email_input
            %input.email{ type: 'text', name: 'email', id: 'email', value: ctx.vote.email || '', placeholder: 'email@address.com' }
              &nbsp;or
              %a{ href: '/login?return_to=' + escapeURL('/teams/' + ctx.team.toParam() + '#draft') } Sign in
            .note Required to confirm your vote. We don't spam.
        - if (ctx.currentPerson)
          .note.email_hidden
            Voting as
            = ' ' + ctx.vote.email + ' '
            &mdash;
            %a{ href: '/logout?return_to=' + escapeURL('/teams/' + ctx.team.toParam() + '#draft') } Change
        %input.button.important{ type: 'submit', value: ctx.vote.isNew() ? 'Vote!' : 'Save' }
      .clear
  %ul.votes
    != partial('votes/index.html.jade', { locals: { ctx: ctx } })
    - if (ctx.votes.length == 50)
      .more
        %img{ src: '/images/spinner.gif' }
