%h1.ribbon= ctx.team.name

- if (!ctx.editAllowed)
  %p.note
    You&rsquo;re looking at the
    %a{ href: '/' } Node.js Knockout
    team profile for
    != ' <a href="/teams/' + ctx.team.id() + '">' + ctx.team.name + '</a>.'
  %p
    %a{ href: '/' } Find out more.

- if (ctx.editAllowed)
  - if (ctx.currentPerson)
    != partial('teams/attending.html.haml', { locals: { ctx: ctx } })
  
  - if (!ctx.currentPerson)
    %p.note
      Nice work! Your team,
      != ' <a href="/teams/' + ctx.team.id() + '">' + ctx.team.name + '</a>, '
      is officially registered for Node.js Knockout.
    
    %p.note
      %strong
        An invitation email with log-in information has been sent to each team member.
      All team members now need to
      %a{ href: '/login' } sign in and update their profile information.

%h2 Team Members
  %ul#members
    - each member in ctx.members
      %li
        - if (member.link)
          %a{ href: member.link }= member.name
        - if (!member.link)
          = member.name
        - if (ctx.currentPerson && member.id() === ctx.currentPerson.id())
          &nbsp;&ndash;
          %a{ href: '/people/' + member.id() + '/edit' } that&rsquo;s you!
    - if (ctx.invites.length && ctx.editAllowed)
      - each invite in ctx.invites
        %li
          %a{ href: 'mailto:' + invite.email }= invite.email
          invited
          &nbsp;&ndash;&nbsp;
          %a.resend{ href: '/teams/' + ctx.team.id() + '/invite/' + invite.id() } reinvite

- if (ctx.invites.length && !ctx.editAllowed)
  %p
    = ctx.invites.length + ' '
    outstanding
    = ctx.invites.length === 1 ? ' invitation.' : ' invitations.'

- if (ctx.editAllowed)
  %form{ method: 'POST', action: '/teams/' + ctx.team.id() }#delete
    %a.button{ href: '/teams/' + ctx.team.id() + '/edit' } Edit
    %input{ type: 'hidden', name: '_method', value: 'delete' }
    %input.button{ type: 'submit', value: 'Delete' }
