#page
  %header
    %h1 Node.js Knockout
  %h2.ribbon What
  %p
    We
    %span.heart &hearts;
    != ' <a href="http://nodejs.org">node.js</a>. '
    We
    %span.heart &hearts;
    != ' <a href="http://railsrumble.com">Rails Rumble</a>. '
    Combining the two, we got:
    %br
    != ' <strong>Node.js Knockout &mdash; a 48-hour node.js coding contest</strong>. '
  %p.center
    %a.button{ href: 'http://twitter.com/node_knockout' } Follow us on Twitter
    %br
    for, like, updates and chicanery

  %h2.ribbon When
  %p#date
    August 28 &ndash; 29, 2010

  %p
    The competition will begin at
    %time{ datetime: "2010-08-28T00:00:00Z" } Saturday, August 28, 12 AM GMT
    and end exactly 48 hours later at
    %time{ datetime: "2010-08-30T00:00:00Z" } Monday, August 30, 12 AM GMT
  %h2.ribbon How
  %p
    The contest format will be similar to
    != ' <a href="http://railsrumble.com">Rails Rumble</a>:'
  %ul
    %li Build any web project you can imagine;
    %li In 48 hours, starting from scratch;
    %li With a team of up to 4;
    %li Using node.js and whatever additional technology you want;
  %p
    To amaze and delight your audience and expert judges, and
    to earn prizes and glory! More details are coming soon.
  %h2.ribbon Where
  %p
    Contestants may participate from anywhere in the world, but all
    code must be stored on
    != ' <a href="http://github.com">GitHub</a>, '
    and contest entries must be deployed to
    != ' <a href="http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout">Joyent</a> or'
    != ' <a href="http://heroku.com">Heroku</a>.'
  %h2.ribbon Why
  %p
    %a{ href: 'http://www.nodejs.org' } node.js
    isn&rsquo;t just another MVC web framework.
    It&rsquo;s at the bleeding edge of a technology stack that allows developers
    to blur the lines between software, the web, and the new like never before.
  %p
    Whatever the contest winners are, we suspect
    %a{ href: 'http://githubissues.heroku.com/' } they
    %a{ href: 'http://mnutt.github.com/hummingbird/' } won&rsquo;t
    %a{ href: 'http://www.lazeroids.com/' } look
    %a{ href: 'http://techblog.gomockingbird.com/socket-to-em' } like
    traditional websites.

  %h2.ribbon How can I help?
  %p
    For now, spread the word. Recruit your friends for a team.
    Start thinking of ideas.
  %p
    If you're interested in sponsoring, judging, or helping out in some
    other way, definitely
    != ' <a href="mailto:all@nodeknockout.com">drop us a line</a>.'
  %footer.ribbon
    email
    %a{ href: 'mailto:all@nodeknockout.com' } all@nodeknockout.com
    %span.vr |
    twitter
    %a{ href: 'http://twitter.com/node_knockout' } @node_knockout
    %span.vr |
    code
    %a{ href: 'http://github.com/gerad/nodejs-knockout' } github
    %span.vr |
    by
    %a{ href: 'http://www.fortnightlabs.com/' } fortnight labs
%aside#sponsors
  %h2.ribbon Sponsors
  %p
    %a{ href: 'http://github.com' }
      %img{ src: '/images/sponsors/github.png' }
  %p
    %a{ href: 'http://heroku.com' }
      %img{ src: '/images/sponsors/heroku.png' }
  %p
    %a{ href: 'http://www.joyent.com/?utm_source=web&utm_medium=sponsorship&utm_campaign=nodeknockout' }
      %img{ src: '/images/sponsors/joyent.png' }
  %p
    %a{ href: 'mailto:all@nodeknockout.com' } Interested in sponsoring?
