%h1 Current Top 10

%p
  Voting is open and will continue until
  != ' <time datetime="2010-09-02T23:59:59Z">23:59 UTC on Thursday, September 2</time>. '
  Winners will be announced at the end of the week.

%h2#date
  %a.button.important{ href: '/teams' } Vote now &raquo;
  .about.countdown &nbsp;

%ul.teams
  - each team in ctx.teams
    %li!= partial('teams/application.html.haml', { locals: { team: team } })
%p
  != 'Make sure to check out <a href="/teams">the full list</a> and vote!'

%h1 What
%p
  Node.js Knockout is a 48-hour coding contest using
  %a{ href: 'http://nodejs.org' } node.js
  inspired by
  != ' <a href="http://railsrumble.com/">Rails Rumble</a>. '
  = ctx.teamCount + ' '
  teams
  %a{ href: '/locations' } around the world
  wrote code between August 28 &amp; 29, 2010 UTC.
