%h2.ribbon Judges
%p.description
  Judging will happen in multiple rounds, including a public vote. We&rsquo;re
  still working out the exact details and rounding up more judges for the
  experts round, but are excited with who&rsquo;s pledged their time to help
  so far.
%p.description
  Interested in judging?
  != ' <a href="mailto:all@nodeknockout.com">Contact us</a>.'

%h3#brendan_eich
  Brendan Eich &mdash;
  %a{ href: 'http://mozilla.com' } Mozilla
%img{ src: '/images/judges/Brendan_Eich.jpg' }
%p
  Brendan Eich is CTO of the Mozilla Corp. In 1995, Eich invented
  JavaScript (ECMAScript), the Internet's most widely used programming
  language. He also co-founded the mozilla.org project in 1998, serving as
  chief architect. Today, Eich's central focus is guiding the future technical
  work to keep Mozilla vital and competitive. He has also been a board member
  of the Mozilla Foundation since its inception in 2003. Eich and his wife have
  four children.

%h3#conrad_wai
  Conrad Wai &mdash;
  %a{ href: 'http://jumpventures.net' } Jump Ventures
%img{ src: '/images/judges/Conrad_Wai.jpg' }
%p
  Conrad Wai is the head of Jump Ventures, a venture strategy firm that helps
  startups with growth challenges through a unique combination of design, social
  science, and business planning. Conrad&rsquo;s background is in technology; he
  worked in the Valley during the dot com boom (and bust), and received a B.S.
  in Computer Science and an M.S. in Human-Computer Interaction from Stanford
  University. He blogs about the tech and venture landscape at
  != ' <a href="http://somethingventured.me">http://somethingventured.me</a>.'

%h3#david_kaneda
  David Goligorsky 
%img{ src: '/images/judges/David_Goligorsky.jpg' }
%p
  David Goligorsky's career path has taken a path not unlike a drunken walk whose 
  milestones include an undergraduate degree in Aerospace Engineering, working on 
  hypersonic missiles for the Department of Defense, and another degree from Stanford 
  University's graduate program in Product Design. He is a founder of a venture-seeded 
  electric vehicle company, engaged in the Engineering, Manufacture, and Marketing 
  of the upcoming product and will be leaving the founding team to their devices 
  as he joins IDEO at their Boston office this fall. Some of his personal work 
  is online at 
  != ' <a href="www.davidgoligorsky.com">www.davidgoligorsky.com</a>. '

%h3#david_kaneda
  David Kaneda &mdash;
  %a{ href: 'http://jqtouch.com' } jQTouch
  \/
  %a{ href: 'http://www.sencha.com/' } Sencha
%img{ src: '/images/judges/David_Kaneda.jpg' }
%p
  David Kaneda has nine years of experience designing in a variety of fields,
  from architecture and fashion to education and software. Recently, David
  created
  != ' <a href="http://www.jqtouch.com">jQTouch</a>, '
  a Javascript framework for iPhone development. David also maintains
  != ' <a href="http://www.webkitbits.com">WebKitBits</a>, '
  a site about the browser engine in Safari, Google Chrome, and the iPhone.
  David currently works as creative director at
  != ' <a href="http://www.sencha.com">Sencha</a>, '
  and is responsible for the look and feel of their websites and software.

%h3#eliot_horowitz
  Eliot Horowitz &mdash;
  %a{ href: 'http://www.10gen.com' } 10gen
  \/
  %a{ href: 'http://www.mongodb.com' } MongoDB
%img{ src: '/images/judges/Eliot_Horowitz.jpg' }
%p
  Eliot is CTO of 10gen, the company that sponsors the open source MongoDB
  project. Eliot is one of the core MongoDB kernel committers. Eliot is also
  the co-founder and chief scientist of ShopWiki. In January 2005, he began
  developing the crawling and data extraction algorithm that is the core of
  ShopWiki's innovative technology. Eliot has quickly become one of Silicon
  Alley's up and coming entrepreneurs, having been selected as one of
  BusinessWeek's Top 25 Entrepreneurs Under Age 25 in 2006. Prior to ShopWiki,
  Eliot was a software developer in the R&D group at DoubleClick. Eliot
  received a B.S. in Computer Science from Brown University.

%h3#isaac_schlueter
  Isaac Schlueter &mdash;
  %a{ href: 'http://npmjs.org' } npm
%img{ src: '/images/judges/Isaac_Schlueter.jpg' }
%p
  After decades roaming the universe in search of puzzles, Isaac Z. Schlueter
  found his calling, making his home in the Valley of Silicon, and sprinkling
  JavaScript upon the good people of Earth. To this very day, he can be found
  on mailing lists, in IRC rooms, and at JavaScript meetups, sharing
  experience, indulging curiosity, and rethinking convention.  He wrote npm,
  and has 2 cats.

%h3#john_woodell
  John Woodell &mdash;
  %a{ href: 'http://www.google.com' } Google
%img{ src: '/images/judges/John_Woodell.jpg' }
%p
  John Woodell has been creating web sites since the mid 90&rsquo;s. While
  manager of Internet Services at CKS|Partners, he created the first homepage
  graphics for Yahoo!. John also made a bit of a splash by releasing an optimized
  animated gif, rendered from an obscure dancing baby video. John is currently
  a web developer at Google. He maintains the App Engine APIs for JRuby and
  manages the JRuby on App Engine blog. He has recently started contributing to
  Dubious, a web framework written entirely in Mirah, a statically-typed language
  that uses Ruby syntax but compiles directly to Java byte code.

%h3#john_resig
  John Resig &mdash;
  %a{ href: 'http://jquery.com' } jQuery
  \/
  %a{ href: 'http://mozilla.com' } Mozilla
%img{ src: '/images/judges/John_Resig.jpg' }
%p
  John Resig is a JavaScript Tool Developer for the
  %a{ href: "http://mozilla.com/"} Mozilla Corporation
  and the author of the book
  != ' <a href="http://jspro.org/">Pro JavaScript Techniques</a>. '
  He's also the creator and lead developer of the
  != ' <a href="http://jquery.com/">jQuery JavaScript library</a>.'
%p
  Currently, John is located in Boston, MA. He's hard at work on his second
  book,
  != ' <a href="http://jsninja.com/">Secrets of the JavaScript Ninja</a>.'

%h3#jolie_odell
  Jolie O&rsquo;Dell &mdash;
  %a{ href: 'http://mashable.com' } Mashable
%img{ src: '/images/judges/Jolie_ODell.jpg' }
%p
  Jolie writes on social media and technology for Mashable. She also has been
  a writer and community manager for ReadWriteWeb and a freelance tech writer.
  As a student journalist at Shenandoah University, she won state and national
  awards, helped teach and manage a team of reporters, and made it out alive
  with high honors. When she&rsquo;s not blogging, she&rsquo;s cooking, playing
  bass guitar, rollerskating, or desperately trying to learn Python.

%h3#kyle_cordes
  Kyle Cordes &mdash;
  %a{ href: 'http://oasisdigital.com' } Oasis Digital
%img{ src: '/images/judges/Kyle_Cordes.jpg' }
%p
  Kyle Cordes is a software development professional and entrepreneur with
  experience in a diverse set of technologies. His firm Oasis Digital keeps
  busy with challenging software projects to help customers build a competitive
  advantage in their markets. Kyle was also a principal in Mobile Workforce
  Management LLC, a vertical market “Software as a Service” business, which he
  sold in 2009.

%h3#matt_ranney
  Matt Ranney &mdash;
  %a{ href: 'http://rebelvox.com' } RebelVox
  \/
  %a{ href: 'http://github.com/mranney/node_pcap' } node_pcap
%img{ src: '/images/judges/Matt_Ranney.jpg' }
%p
  Matt has been working as a network and software engineer for over 15 years.
  Turn ons include: jitter buffers, JavaScript, and jumbo frames.  Turn offs
  include: latency, rigid type systems, and blocking system calls.  Matt is  VP
  of Technology at RebelVox in San Francisco.

%h3#michael_mahemoff
  Michael Mahemoff &mdash;
  %a{ href: 'http://www.google.com' } Google
%img{ src: '/images/judges/Michael_Mahemoff.jpg' }
%p
  != '<a href="http://mahemoff.com">Michael Mahemoff</a> is a Chrome Developer Advocate for Google, based in London, currently focusing on the spectrum of HTML5 technologies. He is the author of Ajax Design Patterns and a total fanboi of <a href="http://www.readwriteweb.com/archives/server-side_javascript_back_with_a_vengeance.php">Javascript on the server</a>.'

%h3#mohammed_abdoolcarim
  Mohammed Abdoolcarim &mdash;
  %a{ href: 'http://siri.com/' } Siri
  \/
  %a{ href: 'http://www.apple.com' } Apple
%img{ src: '/images/judges/Mohammed_Abdoolcarim.jpg' }
%p
  Mohammed Abdoolcarim started at Google in product management before
  moving to a startup called Siri to work on building a natural language
  based personal assistant for the mobile phone. Siri was recently
  acquired by Apple and Mohammed is spending most of his time now
  working to integrate Siri with the iPhone.

%h3#purin_phanichphant
  Purin Phanichphant
%img{ src: '/images/judges/Purin_Phanichphant.jpg' }
%p
  Purin has a background in Industrial Design and Human-Computer Interaction from
  Carnegie Mellon University. He has worked as a product+interaction designer for
  Microsoft, Farmgroup, and IDEO. He is currently finishing up his Master's degree
  in Product Design at Stanford University where he is focusing on using fun and
  playfulness to change consumption behavior.

%h3#seth_ladd
  Seth Ladd &mdash;
  %a{ href: 'http://www.google.com' } Google
%img{ src: '/images/judges/Seth_Ladd.jpg' }
%p
  Seth Ladd is a Developer Advocate at Google, and is currently working with
  the Chrome team. As an experienced server side web engineer, he is having a
  ton of fun focusing on and learning all about HTML5. Seth is a recent Bay
  Area transplant from Hawaii, and he is very excited for some great Mexican
  food.
  %a{ href: 'http://sethladd.com' } sethladd.com

%h3#timothy_caswell
  Timothy Caswell &mdash;
  %a{ href: 'http://extjs.github.com/Connect/' } Connect
  \/
  %a{ href: 'http://www.sencha.com/' } Sencha
%img{ src: '/images/judges/Timothy_Caswell.jpg' }
%p
  Co-Creator of Connect. Senior Software Engineer at Sencha. Creator and primary
  author of
  != ' <a href="http://howtonode.org">howtonode.org</a>.'
