%h2.ribbon Judges
%p.description
  Judging will happen in multiple rounds, including a public vote. We&rsquo;re
  still working out the exact details and rounding up more judges for the
  experts round, but are excited with who&rsquo;s pledged their time to help
  so far.
%p.description
  Interested in judging?
  != ' <a href="mailto:all@nodeknockout.com">Contact us</a>.'

%h3#ben_galbraith
  Ben Galbraith &mdash;
  %a{ href: 'http://ajaxian.com/' } Ajaxian
  \/
  %a{ href: 'http://www.palm.com' } Palm
%img{ src: '/images/judges/Ben_Galbraith.jpg' }
%p
  Ben Galbraith, together with his long-time friend Dion Almaer, forms one-half
  of the dynamic &ldquo;Ben and Dion&rdquo; duo that founded Ajaxian.com, headed Developer
  Tools at Mozilla, and now runs Developer Relations at Palm. Ben&rsquo;s been writing
  code since he was six and starting businesses since he was 10; he&rsquo;s written books,
  given a few hundred presentations, produced a few technical conferences, and has
  held CEO, CIO, CTO, Software Architecture positions in medical, publishing, media,
  manufacturing, advertising, software and internet industries. He lives in Palo Alto
  with his wife and five children.

%h3#brendan_eich
  Brendan Eich &mdash;
  %a{ href: 'http://mozilla.com' } Mozilla
%img{ src: '/images/judges/Brendan_Eich.jpg' }
%p
  Brendan Eich is CTO of the Mozilla Corp. In 1995, Eich invented
  JavaScript (ECMAScript), the Internet's most widely used programming
  language. He also co-founded the mozilla.org project in 1998, serving as
  chief architect. Today, Eich's central focus is guiding the future technical
  work to keep Mozilla vital and competitive. He has also been a board member
  of the Mozilla Foundation since its inception in 2003. Eich and his wife have
  four children.

%h3#chad_dyer
  Chad Dyer &mdash;
  %a{ href: 'http://www.sequoiacap.com' } Sequoia Capital
%img{ src: '/images/judges/Chad_Dyer.jpg' }
%p
  Chad manages the technology systems and tools used internally at Sequoia Capital.

%h3#christopher_williams
  Christopher Williams &mdash;
  %a{ href: 'http://jsconf.us/2010' } JSConf
%img{ src: '/images/judges/Christopher_Williams.jpg' }
%p
  Chris Williams is the curator of JSConf, Host of JSConf Live, owner of 
  Iterative Designs, and VP of OurParents. More commonly known, internetwise, 
  by the handle of voodootikigod, he has been known from time to time to fancy 
  a good beer.

%h3#conrad_wai
  Conrad Wai &mdash;
  %a{ href: 'http://jumpventures.net' } Jump Ventures
%img{ src: '/images/judges/Conrad_Wai.jpg' }
%p
  Conrad Wai is the head of Jump Ventures, a venture strategy firm that helps
  startups with growth challenges through a unique combination of design, social
  science, and business planning. Conrad&rsquo;s background is in technology; he
  worked in the Valley during the dot com boom (and bust), and received a B.S.
  in Computer Science and an M.S. in Human-Computer Interaction from Stanford
  University. He blogs about the tech and venture landscape at
  != ' <a href="http://somethingventured.me">http://somethingventured.me</a>.'

%h3#dave_baggeroer
  Dave Baggeroer &mdash;
  %a{ href: 'http://dschool.stanford.edu/' } Stanford dSchool
  \/
  %a{ href: 'http://blockchalk.com/' } BlockChalk
%img{ src: 'images/judges/Dave_Baggeroer.jpg' }
%p
  != '<a href="http://stanford.edu/~davebags">Dave Baggeroer</a> '
  is a consulting professor at Stanford's Institute of Design where he teaches courses
  focused on designing digital media. He is also co-founder of venture-backed startup
  != ' <a href="http://blog.blockchalk.com">BlockChalk</a>.'

%h3#dave_johnson
  Dave Johnson &mdash;
  %a{ href: 'http://www.nitobi.com/' } Nitobi
  \/
  %a{ href: 'http://www.phonegap.com/' } PhoneGap
%img{ src: 'images/judges/Dave_Johnson.jpg' }
%p
  Dave is a co-founder and CTO at Nitobi, a web and mobile software
  development company. Most days and nights he spends working on the
  open source PhoneGap project. Dave has been writing JavaScript and
  enjoying local craft beer since Netscape 3.

%h3#david_goligorsky
  David Goligorsky 
%img{ src: '/images/judges/David_Goligorsky.jpg' }
%p
  David Goligorsky's career path has taken a path not unlike a drunken walk whose 
  milestones include an undergraduate degree in Aerospace Engineering, working on 
  hypersonic missiles for the Department of Defense, and another degree from Stanford 
  University's graduate program in Product Design. He is a founder of a venture-seeded 
  electric vehicle company, engaged in the Engineering, Manufacture, and Marketing 
  of the upcoming product and will be leaving the founding team to their devices 
  as he joins IDEO at their Boston office this fall. Some of his personal work 
  is online at 
  != ' <a href="http://www.davidgoligorsky.com">www.davidgoligorsky.com</a>. '

%h3#david_kaneda
  David Kaneda &mdash;
  %a{ href: 'http://jqtouch.com' } jQTouch
  \/
  %a{ href: 'http://www.sencha.com/' } Sencha
%img{ src: '/images/judges/David_Kaneda.jpg' }
%p
  David Kaneda has nine years of experience designing in a variety of fields,
  from architecture and fashion to education and software. Recently, David
  created
  != ' <a href="http://www.jqtouch.com">jQTouch</a>, '
  a Javascript framework for iPhone development. David also maintains
  != ' <a href="http://www.webkitbits.com">WebKitBits</a>, '
  a site about the browser engine in Safari, Google Chrome, and the iPhone.
  David currently works as creative director at
  != ' <a href="http://www.sencha.com">Sencha</a>, '
  and is responsible for the look and feel of their websites and software.

%h3#devon_govett
  Devon Govett &mdash;
  %a{ href: 'http://badassjs.com' } Badass JavaScript
%img{ src: '/images/judges/Devon_Govett.jpg' }
%p
  != 'Devon Govett is addicted to JavaScript on the server and in the browser, and the creator and curator of <a href="http://badassjs.com/">Badass JavaScript</a>.  He occasionally blogs about his findings and creations at <a href="http://devongovett.com/">http://devongovett.com/</a>, and is very active on <a href="http://twitter.com/devongovett">Twitter</a>.'

%h3#elad_gil
  Elad Gil &mdash;
  %a{ href: 'http://www.twitter.com' } Twitter
%img{ src: '/images/judges/Elad_Gil.jpg' }
%p
  Elad is the Director of Geo at Twitter after they bought a company he 
  co-founded, Mixer Labs/Geoapi. Before that he started Google's mobile team 
  and worked at a bunch of startups. Elad has a PhD in biology and hopes 
  someday (a few years?) to have his full genome sequenced.

%h3#eliot_horowitz
  Eliot Horowitz &mdash;
  %a{ href: 'http://www.10gen.com' } 10gen
  \/
  %a{ href: 'http://www.mongodb.com' } MongoDB
%img{ src: '/images/judges/Eliot_Horowitz.jpg' }
%p
  Eliot is CTO of 10gen, the company that sponsors the open source MongoDB
  project. Eliot is one of the core MongoDB kernel committers. Eliot is also
  the co-founder and chief scientist of ShopWiki. In January 2005, he began
  developing the crawling and data extraction algorithm that is the core of
  ShopWiki's innovative technology. Eliot has quickly become one of Silicon
  Alley's up and coming entrepreneurs, having been selected as one of
  BusinessWeek's Top 25 Entrepreneurs Under Age 25 in 2006. Prior to ShopWiki,
  Eliot was a software developer in the R&D group at DoubleClick. Eliot
  received a B.S. in Computer Science from Brown University.

%h3#ethan_anderson
  Ethan Anderson &mdash;
  %a{ href: 'http://www.redbeacon.com' } Redbeacon
%img{ src: '/images/judges/Ethan_Anderson.jpg' }
%p
  Ethan is cofounder of Redbeacon, a website that enables consumers to get 
  price quotes and book appointments for local services. Redbeacon recently 
  won the Top Startup of 2009 at the prestigious TechCrunch50 and Business 
  Insider Startup2010 competitions. Prior to Redbeacon, Ethan was a Product 
  Manager for Google Video and Google Image Search and Google&rsquo;s first Product 
  Manager for the fast growing Southeast Asian emerging markets. Before joining 
  Google, Ethan worked in a number of internet strategy and marketing roles at 
  The Clorox Company, Buy.com, and McKinsey & Company. Ethan graduated with Honors 
  from Harvard Business School and Magna Cum Laude from Duke University, where 
  he earned a BA in Economics and Public Policy Studies.

%h3#ge_wang
  Dr. Ge Wang &mdash;
  %a{ href: 'http://www.smule.com' } Smule
%img{ src: '/images/judges/Ge_Wang.jpg' }
%p
  %a{ href: 'http://ccrma.stanford.edu/~ge/' } Ge
  is the Co-founder, CTO, and Chief Creative Officer of Smule, a startup
  company exploring interactive sonic media on the iPhone. He is the designer
  of
  %a{ href: 'http://ocarina.smule.com' } Ocarina
  and
  %a{ href: 'http://leaftrombone.smule.com' } Leaf Trombone: World Stage
  for the iPhone, and
  %a{ href: 'http://magicpiano.smule.com' } Magic Piano
  for
  the iPad. He is an Assistant Professor at Stanford University, at the Center
  for Computer Research in Music and Acoustics
  != ' (<a href="http://ccrma.stanford.edu/">CCRMA</a>). '
  Ge is the creator and chief architect of the
  %a{ href: 'http://chuck.cs.princeton.edu/' } ChucK
  audio programming language, and is the founding director of the Stanford
  Laptop Orchestra
  != ' (<a href="http://slork.stanford.edu/">SLOrk</a>) '
  and of the Stanford Mobile Phone Orchestra
  != ' (<a href="http://mopho.stanford.edu/">MoPhO</a>).'

%h3#isaac_schlueter
  Isaac Schlueter &mdash;
  %a{ href: 'http://npmjs.org' } npm
%img{ src: '/images/judges/Isaac_Schlueter.jpg' }
%p
  After decades roaming the universe in search of puzzles, Isaac Z. Schlueter
  found his calling, making his home in the Valley of Silicon, and sprinkling
  JavaScript upon the good people of Earth. To this very day, he can be found
  on mailing lists, in IRC rooms, and at JavaScript meetups, sharing
  experience, indulging curiosity, and rethinking convention.  He wrote npm,
  and has 2 cats.

%h3#jim_goetz
  Jim Goetz &mdash;
  %a{ href: 'http://www.sequoiacap.com' } Sequoia Capital
%img{ src: '/images/judges/Jim_Goetz.jpg' }
%p
  Jim works with cloud, mobile and enterprise companies. Jim currently serves
  on the board of Appirio, Barracuda, Clearwell, eMeter, Jive, MetaSwitch,
  Nimble, Palo Alto, Sencha and Widgetbox. Prior to joining Sequoia Capital in
  2004, Jim served as a General Partner at Accel Partners. Earlier, Jim was a
  Founder of VitalSigns (LU) where he went on to serve as VP/GM of the
  VitalSoft division of Lucent. Prior to VitalSigns, Jim was the Vice President
  of Network Management for Bay Networks.

%h3#john_woodell
  John Woodell &mdash;
  %a{ href: 'http://www.google.com' } Google
%img{ src: '/images/judges/John_Woodell.jpg' }
%p
  John Woodell has been creating web sites since the mid 90&rsquo;s. While
  manager of Internet Services at CKS|Partners, he created the first homepage
  graphics for Yahoo!. John also made a bit of a splash by releasing an optimized
  animated gif, rendered from an obscure dancing baby video. John is currently
  a web developer at Google. He maintains the App Engine APIs for JRuby and
  manages the JRuby on App Engine blog. He has recently started contributing to
  Dubious, a web framework written entirely in Mirah, a statically-typed language
  that uses Ruby syntax but compiles directly to Java byte code.

%h3#john_resig
  John Resig &mdash;
  %a{ href: 'http://jquery.com' } jQuery
  \/
  %a{ href: 'http://mozilla.com' } Mozilla
%img{ src: '/images/judges/John_Resig.jpg' }
%p
  John Resig is a JavaScript Tool Developer for the
  %a{ href: "http://mozilla.com/"} Mozilla Corporation
  and the author of the book
  != ' <a href="http://jspro.org/">Pro JavaScript Techniques</a>. '
  He's also the creator and lead developer of the
  != ' <a href="http://jquery.com/">jQuery JavaScript library</a>.'
%p
  Currently, John is located in Boston, MA. He's hard at work on his second
  book,
  != ' <a href="http://jsninja.com/">Secrets of the JavaScript Ninja</a>.'

%h3#jolie_odell
  Jolie O&rsquo;Dell &mdash;
  %a{ href: 'http://mashable.com' } Mashable
%img{ src: '/images/judges/Jolie_ODell.jpg' }
%p
  Jolie writes on social media and technology for Mashable. She also has been
  a writer and community manager for ReadWriteWeb and a freelance tech writer.
  As a student journalist at Shenandoah University, she won state and national
  awards, helped teach and manage a team of reporters, and made it out alive
  with high honors. When she&rsquo;s not blogging, she&rsquo;s cooking, playing
  bass guitar, rollerskating, or desperately trying to learn Python.

%h3#kyle_cordes
  Kyle Cordes &mdash;
  %a{ href: 'http://oasisdigital.com' } Oasis Digital
%img{ src: '/images/judges/Kyle_Cordes.jpg' }
%p
  Kyle Cordes is a software development professional and entrepreneur with
  experience in a diverse set of technologies. His firm Oasis Digital keeps
  busy with challenging software projects to help customers build a competitive
  advantage in their markets. Kyle was also a principal in Mobile Workforce
  Management LLC, a vertical market “Software as a Service” business, which he
  sold in 2009.

%h3#malte_ubl
  Malte Ubl &mdash;
  %a{ href: 'http://www.sinnerschrader.de/' } SinnerSchrader
%img{ src: '/images/judges/Malte_Ubl.jpg' }
%p
  %a{ href: 'http://www.nonblocking.io/' } Malte
  specializes in web based rocket science for Germany's leading internet
  agency
  != ' <a href="http://www.sinnerschrader.de/">SinnerSchrader</a>. '
  Socialized with Smalltalk in the 90s Malte later explored the depth of Perl
  and most other programming languages until falling in love with JavaScript.
  He is the creator of the
  %a{ href: 'http://code.google.com/p/joose-js/' } Joose meta object system
  which transfer concepts from a multitude of programming languages into
  JavaScript in a way that feels both powerful and native to the core
  language. Malte likes to build stuff. You might meet him on the web doing
  %a{ href: 'http://www.nonblocking.io/2009/03/offloading-arbitrary-js-objects-to.html' } web worker integration
  for
  != ' <a href="https://bespin.mozillalabs.com/">bespin</a>, '
  tracking the
  != ' <a href="http://www.nonblocking.io/2009/05/one-event-loop-to-rule-them-all.html">one event loop to rule them all</a>, '
  != ' <a href="http://www.nonblocking.io/2009/06/saving-environment-and-fixing-ie6.html">saving the environment</a>, '
  or inventing
  != ' <a href="http://www.nonblocking.io/2008/12/massively-parallel-crowd-sourced.html">massively parallel crowd-sourced JavaScript app server clouds</a>.'

%h3#matt_ranney
  Matt Ranney &mdash;
  %a{ href: 'http://rebelvox.com' } RebelVox
  \/
  %a{ href: 'http://github.com/mranney/node_pcap' } node_pcap
%img{ src: '/images/judges/Matt_Ranney.jpg' }
%p
  Matt has been working as a network and software engineer for over 15 years.
  Turn ons include: jitter buffers, JavaScript, and jumbo frames.  Turn offs
  include: latency, rigid type systems, and blocking system calls.  Matt is  VP
  of Technology at RebelVox in San Francisco.

%h3#matthew_eernisse
  Matthew Eernisse &mdash;
  %a{ href: 'https://www.yammer.com' } Yammer
  \/
  %a{ href: 'http://fleegix.org/' } Fleegix.org
%img{ src: '/images/judges/Matthew_Eernisse.jpg' }
%p
  Matthew Eernisse has been building interactive web applications with JavaScript 
  for over a decade. He has worked in many layers of the web-dev stack: the database, 
  the server tier, and tons and tons of client-side code. Matthew was a very early 
  proponent of advanced JavaScript usage &mdash; including the first article on oreillynet.com 
  using the word &lsquo;Ajax,&rsquo; and a book for SitePoint, &ldquo;Build Your Own Ajax Web Applications.&rdquo;
  Matthew works for Yammer, Inc. as a JavaScript developer.

%h3#michael_mahemoff
  Michael Mahemoff &mdash;
  %a{ href: 'http://www.google.com' } Google
%img{ src: '/images/judges/Michael_Mahemoff.jpg' }
%p
  != '<a href="http://mahemoff.com">Michael Mahemoff</a> is a Chrome Developer Advocate for Google, based in London, currently focusing on the spectrum of HTML5 technologies. He is the author of Ajax Design Patterns and a total fanboi of <a href="http://www.readwriteweb.com/archives/server-side_javascript_back_with_a_vengeance.php">Javascript on the server</a>.'

%h3#mikeal_rogers
  Mikeal Rogers &mdash;
  %a{ href: 'http://couchdb.apache.org/' } CouchDB
  \/
  %a{ href: 'http://www.couch.io/' } Couchio
%img{ src: '/images/judges/Mikeal_Rogers.jpg' }
%p
  Mikeal is a JavaScript developer working with/on node.js and CouchDB. Mikeal
  also works on the CommonJS standards and the recent HTML5 IndexedDatabase
  specification. He resides in Oakland, CA, and loves it, especially when
  there are no riots.

%h3#mohammed_abdoolcarim
  Mohammed Abdoolcarim &mdash;
  %a{ href: 'http://siri.com/' } Siri
  \/
  %a{ href: 'http://www.apple.com' } Apple
%img{ src: '/images/judges/Mohammed_Abdoolcarim.jpg' }
%p
  Mohammed Abdoolcarim started at Google in product management before
  moving to a startup called Siri to work on building a natural language
  based personal assistant for the mobile phone. Siri was recently
  acquired by Apple and Mohammed is spending most of his time now
  working to integrate Siri with the iPhone.

%h3#othman_laraki
  Othman Laraki &mdash;
  %a{ href: 'http://www.twitter.com' } Twitter
%img{ src: '/images/judges/Othman_Laraki.jpg' }
%p
  Othman Laraki is Director of Geo and Search at Twitter. Othman joined Twitter
  after it acquired MixerLabs, which he cofounded. Prior to MixerLabs, Othman was
  at Google, where he managed a number of products including the Google Toolbar,
  Google Gears, early Firefox extensions, as well FastNet (real-time fetching and
  caching infrastructure).

%h3#peter_fenton
  Peter Fenton &mdash;
  %a{ href: 'http://www.benchmark.com' } Benchmark Capital
%img{ src: '/images/judges/Peter_Fenton.jpg' }
%p
  Peter Fenton joined Benchmark Capital in 2006 after spending seven years as a
  partner with Accel Partners. Prior to joining the venture capital community,
  he was an early employee at Virage, a multimedia information retrieval
  company that went public on the NASDAQ in 2000. Peter also worked as a
  management consultant at Bain &amp; Company in San Francisco.
%p
  Current Investments: EngineYard, Lithium, New Relic, Pentaho, Polyvore,
  Terracotta, Twitter, Yelp, Zendesk and Zuora.

%h3#purin_phanichphant
  Purin Phanichphant
%img{ src: '/images/judges/Purin_Phanichphant.jpg' }
%p
  Purin has a background in Industrial Design and Human-Computer Interaction from
  Carnegie Mellon University. He has worked as a product+interaction designer for
  Microsoft, Farmgroup, and IDEO. He is currently finishing up his Master's degree
  in Product Design at Stanford University where he is focusing on using fun and
  playfulness to change consumption behavior.

%h3#ryan_dahl
  Ryan Dahl &mdash;
  %a{ href: 'http://www.joyent.com/' } Joyent
%img{ src: '/images/judges/Ryan_Dahl.jpg' }
%p
  Ryan is the Node.js creator and project lead. He recently moved to San Francisco 
  from Germany. He is sad that the parks in SF don't have ping pong tables but is
  happy with the weather.

%h3#seth_ladd
  Seth Ladd &mdash;
  %a{ href: 'http://www.google.com' } Google
%img{ src: '/images/judges/Seth_Ladd.jpg' }
%p
  Seth Ladd is a Developer Advocate at Google, and is currently working with
  the Chrome team. As an experienced server side web engineer, he is having a
  ton of fun focusing on and learning all about HTML5. Seth is a recent Bay
  Area transplant from Hawaii, and he is very excited for some great Mexican
  food.
  %a{ href: 'http://sethladd.com' } sethladd.com

%h3#steve_gilmore
  Steve Gilmore
%img{ src: '/images/judges/Steve_Gilmore.jpg' }
%p
  Consultant and corporate heretic, Steve helps forward-looking companies
  thrive and backward-looking companies feel uncomfortable. He has been
  providing clients with user-centric strategy, research, design, and
  development of digital products for over 20 years. Having worked with a wide
  range of companies, from startups to the Fortune 500, he now focuses on new
  ways of integrating social media into digital user experiences.

%h3#timothy_caswell
  Timothy Caswell &mdash;
  %a{ href: 'http://extjs.github.com/Connect/' } Connect
  \/
  %a{ href: 'http://www.sencha.com/' } Sencha
%img{ src: '/images/judges/Timothy_Caswell.jpg' }
%p
  Co-Creator of Connect. Senior Software Engineer at Sencha. Creator and primary
  author of
  != ' <a href="http://howtonode.org">howtonode.org</a>.'

%h3#tj_holowaychuk
  Tj Holowaychuk &mdash;
  %a{ href: 'http://expressjs.com/' } Express
  \/
  %a{ href: 'http://www.sencha.com/' } Sencha
%img{ src: '/images/judges/Tj_Holowaychuk.jpg' }
%p
  Author of the Express web framework, Jade template engine, JSpec, Connect (co-author)
  and many other popular JavaScript libraries. Currently a Senior Software Engineer at Sencha.
  Play him off keyboard cat.

%h3#tom_nguyen
  Tom Nguyen &mdash;
  %a{ href: 'http://www.adobe.com/' } Adobe Systems
%img{ src: '/images/judges/Tom_Nguyen.jpg' }
%p
  %a{ href: 'http://tomnguyen.com/' } Tom Nguyen
  is the product manager for the Flash Player at Adobe Systems.
  Prior to Adobe, he worked at a startup in Beijing, managed new venture
  strategy for the Reuters Innovation Program, and oversaw social media for
  Reuters in the US and Europe. He was selected as a Primetime Emmy Award
  finalist for his work in interactive television. Tom earned an MBA from the
  Stanford Graduate School of Business and holds a BS in Computer Science and
  an MA in Education with a concentration in Learning Sciences and Design from
  Stanford University.