- if (vote.person)
  != gravatar(vote.person, 50)
  %a{ href: '/people/' + vote.person.toParam() }= vote.person.displayName()
- if (!vote.person)
  != gravatar({email: ''}, 50)
.details
  .type= vote.person ? vote.person.type : 'Public'
  .remote= vote.remoteAddress.replace(/\d+\.\d+/, '*.*')
  %time{ datetime: vote.createdAt.toISOString() }
  - if (typeof(hideReply) === 'undefined' && ctx.canReplyTo(vote))
    - replyAnchor = '#reply-' + vote.id()
    %a.reply{ href: replyAnchor }
      Reply
.clear
